<div class="home-screen">
  <div class="alert alert-danger" *ngIf="errorMessages != null && errorMessages.length > 0">
    <span>Validation Messages:</span>
    <ul>
      <li *ngFor="let message of errorMessages">
        {{message}}
      </li>
    </ul>
  </div>
  <label for="commandText">Write Command to Draw Shape: </label>

  <div id="input-container">
    <input id="commandText" class="command-input" type="text" [(ngModel)]="model.command"/>
    <button class="btn btn-sm btn-primary" (click)="draw()">
      <i class="fa fa-paint-brush right-margin"></i> Draw Shape
    </button>
  </div>

  <div class="canvas-host"><canvas id="canvas"></canvas></div>
</div>
<div class="loading" *ngIf="isProcessing">Loading.......</div>
