canvas {
  background-color: lightgrey;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}
.canvas-host, .home-screen {
  padding-top: 10px;
  width: 100%;
  height: 90%;
}

.command-input {
  width: 80%;
  margin-bottom: 10px;
}
